.project-block-one .text-meta .arow-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-block-two .btn-one {
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-block-four .btn-round {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-details .share-icon a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-meta-one.style-two .post-meta .read-more {
  display: flex;
  align-items: center;
  justify-content: center;
}


.blog-details .blog-details-post .bottom-widget .share-icon a {
  display: flex;
  align-items: center;
  justify-content: center;
}